<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- GNB -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MyService</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('home') }}">Service Check</a>
                <a class="nav-item nav-link" href="{{ url_for('test_page') }}">Test Check</a>
                <a class="nav-item nav-link" href="{{ url_for('security_rules') }}">SIEM Security Rule</a>
                <!-- 다른 메뉴 항목들을 여기에 추가할 수 있습니다 -->
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>

    <!-- 페이지 컨텐츠 -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JavaScript 추가 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

